
header {
    width:100vw;
    height:10vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:30%;
    background-color:#E8AA42;
    color:#231955;
    font-weight:500;
}

header div {
    width:19%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

div {
    height:100%;
}

img {
   width:25px; 
}

input {
    height:40%;
    border-radius:8px;
    border:2px solid #231955;
    outline:0;
}


input::placeholder{
    font-family:"Montserrat";
}