section {
    width:inherit;
    margin-top:6vh;
    margin-left:8vh;
}

section h2 {
    width:inherit;
    margin: 0 auto;
}

.list__card__people{
    width:inherit;
    margin: 0 auto;
    min-height:20vh;
    margin-top:3vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
}